*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.CONFERENCE{
  background-color: #34495e;
  width: 60%;
  padding: 125px;
  padding-top: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  border-color: #34495e;
  border-radius: 10px;
}